.btn {
	background-color: transparent;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 12px;
	padding: 7px 10px 7px 10px;

	transition: color 0.3s ease;

	&:focus {
		outline: none;
	}

	&:hover {
		color: darken($color: white, $amount: 10);
	}
}

.btn-primary {
	background-color: $primary;
	border-radius: 2px;

	&:disabled {
		background-color: lighten($color: $primary, $amount: 15);
	}

	&:hover {
		background-color: darken($color: $primary, $amount: 15);
	}
}

.btn-gold {
	background-color: #c49700;

	transition: background-color 0.3s ease;

	&:hover {
		background-color: darken($color: #e0ba3d, $amount: 10);
	}
}

.btn-block {
	width: 100%;
}
